<!DOCTYPE html>
<html>
  <head>
    <title>Venmo+</title>
    <%= favicon_link_tag asset_path('clone-logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashlogo = "<%= image_url('nav-logo.jpg') %>";
      window.logo1 = "<%= image_url('venmo-logo-white.png') %>";

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
